@import '../../styles/mixins/global.scss';

.footeralignment {
    padding: 70px 0 0 0;
    background-image: url(../../public/assets/images/FooterBG.png);
  
    .Grid {
        display: grid;
        grid-template-columns: 190px auto;
        gap: 70px;

        @include breakpoint("max-sm") {
            grid-template-columns: auto ;
             }

        .fisrtrow {
            .logo{
                text-align: center;
                max-width: 150px;
                img {
                    cursor: pointer;
                }
            }

            .icongrop {
                h4 {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 44px;
                    color: #000000;
                }

                .iconflex {
                    display: grid;
                    gap: 20px;
                    justify-content: center;
                    grid-template-columns: repeat(2, 1fr);
                    margin-top: 20px;
                    width: 250px;
                    margin: auto;
                    a {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        border: 1px solid #898989;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        margin: auto;

                        img {
                            height: 20px;
                        }
                    }
                }
            }
        }

        .conatctInfo {
            h3 {
                font-weight: 700;
                font-size: 18px;
                line-height: 44px;
                color: #000000;
                margin-bottom: 27px;
            }

            .infoGrid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 30px;
                @include breakpoint("max-md"){
                    grid-template-columns: repeat(2,1fr);
                }
                @include breakpoint("max-sm"){
                    grid-template-columns: repeat(1,1fr);
                }

                .linebox {
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 10px;
                    }
                }
            }
        }

        .links {
            h3 {
                font-weight: 700;
                font-size: 18px;
                line-height: 44px;
                color: #000000;
                margin-top: 25px;
                margin-bottom: 27PX;
            }
            div {
                display: flex;
                justify-content: space-between;
                @include breakpoint("max-sm"){
                    flex-wrap: wrap;
                    gap: 20px;
                }
                a {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 44px;
                    color: #000000;
                }
            }
        }
    }
    .bgfooter{
        background: rgba(0, 0, 0, 0.14);  
        margin-top: 50px;  
        padding: 9px 0;
        p{
            font-style: normal;
            font-size: 14px;
            line-height: 44px;
            text-align: center;
            color: #000000;
        }   
    }
}