@import "~bootstrap/scss/bootstrap";
.why-invest-us-wrapper {
    .btn-group {
        display: flex;
        button {
            color: #747474;
            background-color: transparent;
            border: 0;
            padding-right: 25px;
            &.active {
                color: #3555d3;
            }
        }
        @media (max-width: 767px) {
            flex-direction: column;
            button {
                margin-bottom: 15px;
                padding: 10px 15px;
                color: #3555d3;
                background-color: transparent;
                border: 1px solid #3555d3;
                &.active {
                    background-color: #3555d3;
                    color: #fff;
                }
            }
        }
    }
    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: 767px) {
                flex-direction: column;
            }
            img {
                width: 150px;
                height: 150px;
            }
            .content {
                display: flex;
                flex-direction: column;
                h4 {
                    font-size: 20px;
                    @media (max-width: 767px) {
                        text-align: center;
                    }
                }
                p {
                    color: #686868;
                    @media (max-width: 767px) {
                        text-align: center;
                    }
                }
            }
        }
    }
}
.why-invest-wrapper-content {
    margin-top: 60px !important;
    .header-text {
        font-weight: 600;
        font-size: 48px;
        line-height: 74px;
        color: #000000;
        margin-bottom: 60px;
        text-align: center;
        margin: 0 auto;
        max-width: 800px;
    }
    .img-box {
        .box {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px;
            border-radius: 15px;
            font-size: 18px;
            text-align: center;
            min-height: 150px;
            p {
                color: #fff;
            }
            &.bg-1 {
                background: url("../public/assets/images/feature-3.png") no-repeat;
                background-position: center;
                background-color: grey;
                background-blend-mode: multiply;
            }
            &.bg-2 {
                background: url("../public/assets/images/feature-2.png") no-repeat;
                background-position: center;
                background-color: grey;
                background-blend-mode: multiply;
            }
            &.bg-3 {
                background: url("../public/assets/images/feature-1.png") no-repeat;
                background-position: center;
                background-color: grey;
                background-blend-mode: multiply;
            }
        }
    }
}
.footer-social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    a {
        border: 1px solid #000000;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            padding: 4px;
        }
    }
}
.contact-us-wrapper {
    .aboutsBanner {
        background-image: url(../public/assets/images/aboutBanner.png);
        padding: 130px 0;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 30;
        }

        h5 {
            font-weight: 600;
            font-size: 48px;
            line-height: 74px;
            color: #ffffff;
            text-align: center;
            z-index: 9999;
            position: relative;
        }
    }
    .content-wrapper {
        margin-top: 50px;
        margin-bottom: 50px;
        .form-wrapper {
            // width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            h3 {
                font-size: 48px;
            }
            p {
                font-size: 16px;
                margin-bottom: 30px;
                color: #686868;
            }
            .input-wrapper {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                width: 100%;
                &:last-child {
                    margin-bottom: 0;
                }
                label {
                    color: #3555d3;
                }
                input {
                    border: 1px solid #d0d0d0;
                    border-radius: 5px;
                    height: 40px;
                    padding: 2px 8px;
                    font-size: 16px;
                    &:focus {
                        outline: none;
                    }
                }
                textarea {
                    border: 1px solid #d0d0d0;
                    border-radius: 5px;
                    padding: 2px 8px;
                    width: 100%;
                    resize: none;
                    height: 100px;
                    &:focus {
                        outline: none;
                    }
                }
                input[type=button] {
                    background-color: #3555d3;
                    color: #fff;
                    border-radius: 50px;
                    padding: 10px;
                    height: unset;
                    font-size: 16px;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
        .img-wrapper {
            display: flex;
            justify-content: center;
            img {
                // max-height: 450px;
            }
        }
    }
}
